<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>

  <!-- run serial connection -->
  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" args="/dev/arduino"/>

  <!-- run wii joystick-->
  <node respawn="true" pkg="wiimote"  type="wiimote_node.py" name="wiimote" output="screen">
	<param name="bluetooth_addr" value="8C:56:C5:D6:6D:73"/>
	<param name="pair_timeout" value="5"/>
	<remap from="imu/data" to="wii_imu/data"/>
	<remap from="imu/is_calibrated" to="wii_imu/is_calibrated" />
  </node>

  <!-- Run wii control -->
  <node pkg = "wii_control" type="wii_node" name="wii_control" output="screen"/>

 <!-- Run laserscanner at the front -->
  <node name="hokuyo_front" pkg="urg_node" type="urg_node" respawn="false" output="screen">
    <!-- Starts up faster, but timestamps will be inaccurate. --> 
    <!-- Set the port to connect to here -->
    <param name="serial_port" value="/dev/hokuyo_front"/>
    <param name="frame_id" value="laser"/> 
    <param name="calibrate_time" value="false"/>
    <param name="publish_intensity" value="false"/>
  </node>

 <!-- Run laserscanner at the back -->
  <node name="hokuyo_back" pkg="urg_node" type="urg_node" respawn="false" output="screen">
    <!-- Starts up faster, but timestamps will be inaccurate. --> 
    <!-- Set the port to connect to here -->
    <param name="serial_port" value="/dev/hokuyo_back"/>
    <param name="frame_id" value="laser_back"/> 
    <param name="calibrate_time" value="false"/>
    <param name="publish_intensity" value="false"/> 
    <remap from="scan" to="scan_back" />
  </node>

 <!-- Commented:Run xsens driver 
  <node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" >
    <param name="device" value="/dev/xsens"/>
    <param name="baudrate" value="115200"/>
    <param name="timeout" value="0.002"/>
  	<param name="frame_id" value="/imu"/>
	<param name="frame_local" value="ENU"/>
  </node>
 -->

  <!--(Static) transformation for relation between laser frame and base_link frame -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.28 0.0 0.18 0.0 0.0 0.0 /base_link /laser 40" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_back_laser" args="-0.28 0.0 0.10 0.0 0.0 0.0 /base_link /laser_back 40" />

 <!-- Commented:IMU static transformation
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu" args="-0.20 0.0 0.15 0.0 0.0 0.0 /base_link /base_imu 40" />
 -->
</launch>
